.search-form
    input#title-movie(type="text", name="title-movie", class="pure-u-18-24 awesomplete" placeholder="Ingrese el título de la película" autofocus)
    input#button-search(type="button", value="Buscar" class="pure-button pure-button-primary pure-u-4-24")
